		table {
		text-align: center; 
		}
		h1 {
		text-align: center;
		font-family: 'Permanent Marker', cursive;
		}
		h2 {
		text-align: center;
		font-family: 'Permanent Marker', cursive;
		}
		h3 {
		text-align: center;
		}
		h4 {
		text-align: center;
		}
		ul {
		font-style: italic;
		}
div {
		background-image: url("http://fistintheair.com/wp-content/uploads/2016/07/blink-182-california.jpg");
		background-size: contain;
		background-repeat: no repeat;
		margin: auto;
		background-position: center;
		background-attachment: scroll;
		width: 45%;
		height: 0;
		padding-top: 66.64%;
		}