h1 {
	text-align: center;
	}
a {
	font-family: fantasy;
	text-decoration: underline;
	font-size: 18px;
}
a:link {
	color: blue;
	text-decoration: underline;
}
a:visited {
	color: purple;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	text-decoration; underline;
}
a:active {
	text-decoration: none;
}
